body,
html,
#container {
  width: 100%;
  height: 100%;
  background: #222;
  display: flex;
  justify-content: space-around;
}
body #globeDiv,
html #globeDiv,
#container #globeDiv {
  width: 90%;
  height: 85%;
}
body #globeDiv svg .water,
html #globeDiv svg .water,
#container #globeDiv svg .water {
  fill: #FFF;
}
body #globeDiv svg .land,
html #globeDiv svg .land,
#container #globeDiv svg .land {
  stroke: #FFF;
  stroke-width: .7;
  fill: #222;
}
body #globeDiv .route,
html #globeDiv .route,
#container #globeDiv .route {
  stroke: blue;
  stroke-width: 2;
  fill: blue;
}
body #listDiv,
html #listDiv,
#container #listDiv {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-item: center;
  color: #FFF;
}
body #listDiv div,
html #listDiv div,
#container #listDiv div {
  cursor: pointer;
  font-size: 2.5rem;
  padding-top: 3%;
  padding-left: 2%;
  color: #FFF;
  height: 20%;
  font-family: 'Roboto', sans-serif;
}
body #listDiv div:hover,
html #listDiv div:hover,
#container #listDiv div:hover {
  background-color: purple;
}
