

body, html, #container{
	width: 100%;
	height: 100%;
	background:#222;
	display: flex;

	#globeDiv{
		width: 100%; 
		height: 90%;  

		svg{	

			.water{
				fill: #FFF;
			}


			.land{
				stroke: #FFF;
				stroke-width: .7;
				fill:#222;
			}
		}

	}

	#listDiv{
		width: 55%;
		display: flex;
		flex-direction: column;

		div{	
			cursor:pointer;
			font-size: 200%;
			padding-top: 3%;
			padding-left: 2%;
			color: #FFF;
			height: 20%;
			border-bottom: 2px solid #FFF;
			font-family: 'Roboto', sans-serif;


			&:hover{
		background: linear-gradient(to right, #0865F1 0%, #C704F6 100%),


			}

		}
	}
}
	
